[defaults]
inventory = inventories/inventory.yml
stdout_callback = yaml
bin_ansible_callbacks = True
host_key_checking = False
interpreter_python = auto_silent
collections_paths = /home/ubuntuls/fortinetproject/fortlab/Fortiweblab/.ansible/collections/ansible_collections

[connection]
pipelining = True
