[defaults]
inventory = inventories/inventory.yml
stdout_callback = yaml
bin_ansible_callbacks = True
host_key_checking = False
interpreter_python = auto_silent
collections_path = /home/ubuntuls/fortinetproject/fortlab/Fortiweblab/.ansible/collections/ansible_collections
vault_password_file = inventories/group_vars/vault_password.txt

[connection]
pipelining = True
